<div class="btn-group">
    <!-- searchbar.component.html -->
    <div class="search-bar-container">
        <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search by film name">

        <div class="search-results-container-overlay" *ngIf="searchResults.length > 0 && searchTerm">
            <!-- Pass the resultClick event to the parent component -->
            <app-search-result [films]="searchResults" (resultClick)="onResultClick($event)"></app-search-result>
        </div>
    </div>
</div>
