<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col-12">
                    <h2>Title{{ film.Title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Type - {{ film.Year }}</h2>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col">
                    IMDB RATING
                </div>
                <div class="col">
                    9.0/10
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">
            <img src="{{ film.Poster }}" alt="Film Poster" class="img-fluid">
        </div>
        <div class="col-5 offset-1">
            <img src="{{ film.Poster }}" alt="Film Poster" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ film.Plot }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
           Creators
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Stars
        </div>
    </div>
</div>